<footer class="bg-gray-light">
  <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-body">
        <img data-src="<%= asset_path('logo_memoria.png')%>" width="300" alt="Logo Memoria Ambiental" uk-img>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-body">
        Buscamos mostrar como el cambio climático esta afectando la vida de las personas. <br> <%= link_to 'Conoce las memorias ambientales', memoirs_path %>
      </div>
    </div>
    <div class="uk-width-1-3@m">
      <div class="uk-card uk-card-body">
        <a href="https://instagram.com/memoriaambiental" target="_blank" class="uk-icon-link" uk-icon="instagram"></a>
        <a href="https://twitter.com/MemoriAmbiental" target="_blank" class="uk-icon-link" uk-icon="twitter"></a>
        <a href="https://wa.me/+5521995905064" target="_blank" class="uk-icon-link" uk-icon="whatsapp"></a>
        <h4> contacto@memoriaambiental.org </h4>
      </div>
    </div>
  </div>


  <div class="uk-container uk-container-small uk-text-center uk-padding-small">
    <img data-src="<%= asset_path('ccheart_black.svg')%>" width="24" alt="Logo Memoria Ambiental" uk-img> Este proyecto está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>
  </div>


</footer>
