<section id="" ">
  <div class="uk-inline uk-visible@s">
    <img class="opacity-img" src="<%= asset_path('home/ma_2.jpg') %>" >
    <div class="uk-position-cover uk-overlay">
      <div class="uk-container uk-container-small uk-light uk-padding-large uk-padding-remove-left uk-padding-remove-right">
        <h2 class="subtitle uk-text-center uk-text-bold"> <%= t('home.why_memoir') %> </h2>
        <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>
          <div class="uk-width-1-3@m">
            <div>
              <h4 class="uk-text-bold"> <%= t('home.arg1_title') %> </h4>
              <p class="white"> <%= t('home.arg1_content') %></p>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div>
              <h4 class="uk-text-bold"> <%= t('home.arg2_title') %> </h4>
              <p class="white"> <%= t('home.arg2_content') %></p>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div>
              <h4 class="uk-text-bold"> <%= t('home.arg3_title') %> </h4>
              <p class="white"> <%= t('home.arg3_content') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
