<div class="uk-inline uk-visible@s">
  <img class="opacity-img" src="<%= asset_path('home/ma_1.jpg') %>" >
  <div class="uk-position-medium uk-position-bottom uk-overlay uk-light">
    <div class="uk-container animated fadeInUp">
      <h2> <%= t('join.title') %>  </h2>
      <h4 class="uk-margin-remove"><%= t('join.description') %> </h4> <br>
    </div>
  </div>
</div>

<div class="uk-hidden@m uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="<%= asset_path('home/ma_1.jpg') %>" uk-img>
  <div class="uk-container uk-text-center">
    <h3 class="uk-text-bold">  <%= t('join.title') %>  </h3>
    <p class="uk-margin-remove white"><%= t('join.description') %></p>
  </div>
</div>

<div class="uk-section uk-section-large uk-section-muted">

  <div class="uk-container uk-padding-large">

    <div class="uk-child-width-expand@s" uk-grid>
      <div class="uk-grid-item-match">
        <div class>
          <img class="opacity-img" src="<%= asset_path('camera.png') %>" >
        </div>
       </div>
      <div>
        <h2> <%= t('join.register') %> </h2>
        <p class="uk-h4"> <%= t('join.register_content') %> </p>
        <br>
        <a href="https://docs.google.com/forms/d/1rVBAVVjcrl8EuD3nlWaN7UdaEP71Z9SbKWI7U0jO_00/viewform?edit_requested=true" class="uk-button uk-button-secondary white" target="_blank"> <%= t('join.register_call_to_action') %> </a>
      </div>
    </div>

  </div>
</div>


<%= render 'shared/why' %>
