<div class="uk-inline uk-visible@s">
  <img class="opacity-img" src="<%= asset_path('home/ma_2.jpg') %>" >
  <div class="uk-position-medium uk-position-bottom uk-overlay uk-light">
    <div class="uk-container animated fadeInUp">
      <h2> Convocatória Laboratório de Memórias Ambientais da Maré </h2>
      <h4 class="uk-margin-remove">Queremos saber qual é a sua memória ambiental!</h4> <br>
    </div>
  </div>
</div>

<div class="uk-hidden@m uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="<%= asset_path('home/ma_2.jpg') %>" uk-img>
  <div class="uk-container uk-text-center">
    <h3 class="uk-text-bold"> Convocatória Laboratório de Memórias Ambientais da Maré </h3>
    <p class="uk-margin-remove white">Queremos saber qual é a sua memória ambiental!</p>
  </div>
</div>

<section id="" class="bg-areia">
  <div class="uk-container uk-container-small uk-padding-large">
    <div class="uk-text-center">
      <h3 class="terracota uk-text-bold">Queremos saber qual é a sua memória ambiental!</h3> <br>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx3sFF1aT9uz45FqBPWnCNFjRp0fvo-hNjzhe8mBz-ItPzUw/viewform?usp=sf_link" target="_blank" class="uk-button uk-button-secondary"> Inscreva-se aqui</a>
    </div>
    <h4 class="terracota uk-text-bold"> O que é memória ambiental? </h4>
    <p>Memória Ambiental são as histórias que narram as transformações que as <span class="uk-text-bold">mudanças climáticas</span> causam nos territórios.</p>

    <p>As chuvas estão ficando mais fortes, junto com elas as inundações e desabamentos, os verões mais quentes e longos, a falta de água cada vez mais frequente,  até a <span class="uk-text-bold">pandemia</span> tem a ver com mudanças climáticas. </p>

    <p>Por isso precisamos falar sobre isso, ainda mais nas favelas e periferias onde essas mudanças mais afetam as pessoas.  </p>

   <p>Contar <span class="uk-text-bold">histórias</span> permite pessoas encontrarem um terreno comum e fértil para criar mudanças positivas. </p>

    <p>Essa idéia surgiu através da plataforma <span class="uk-text-bold">memoriaambiental.org</span> que tem como objetivo sensibilizar pessoas sobre as mudanças climáticas, incentivar comunidades a produzirem suas memórias e conectar essas memórias de diferentes locais da américa latina.</p>


    <h4 class="terracota uk-text-bold"> O que é o laboratório? </h4>

    <p> É um percurso de aprendizagem analógico digital criado e vivenciado por jovens para investigar e registrar a memória ambiental do seu território da Maré.</p>

    <h4 class="terracota uk-text-bold"> O que é analógico e digital?</h4>

    <p>
      <span class="uk-text-bold terracota">Analógico:</span> Documentações que não são feitas através do celular ou computador, como por exemplo: diários, fanzines, cartões postais, cartas, quadros...
    </p>
    <p>
      <span class="uk-text-bold terracota">Digital:</span> Documentações que são feitas através do celular ou computador. Como por exemplo fotografias, podcasts, documentários, tik tok…
    </p>


    <h4 class="terracota uk-text-bold">Por que vamos fazer isso?   </h4>

    <p>Acreditamos que juventude é potência e tem um papel fundamental para se pensar as mudanças climáticas e realizar ações para enfrentar essas mudanças, a ações climáticas. </p>

    <p>As histórias do passado contadas no presente podem transformar o futuro!</p>

    <h4 class="terracota uk-text-bold">Entenda como vai ser:  </h4>

    <p>Cada jovem irá escolher uma memória ambiental da Maré para pesquisar e documentar de forma analogica e digital. No final, irá subir na plataforma https://memoriaambiental.org/ um publicação dessa memória em foto, vídeo, áudio e/ou texto.</p>

    <h4 class="terracota uk-text-bold">Sobre o que vamos conversar nos encontros:</h4>

    <p>Mudanças climáticas, Racismo Ambiental, Agricultura Urbana, Segurança Alimentar, Saneamento, Soluções baseadas na Natureza, Memória, Arte, Linguagens e História da Maré.</p>

    <h4 class="terracota uk-text-bold">Como vamos te apoiar na pesquisa e produção das memórias:</h4>

    <p>Vamos apresentar de técnicas e ferramentas do Jornalismo, Audiovisual, processos de pesquisas e vivências com convidados.</p>

    <p>Ter 1 encontro semanal em grupos menores para possibilitar a troca de informações.</p>

    <p>Estaremos disponíveis para troca!!</p>

    <h4 class="terracota uk-text-bold">Duração</h4>
    <p>06/10 a 12/12</p>

    <h4 class="terracota uk-text-bold">Participantes</h4>
    <p>Jovens de 16 a 35 anos que morem na Maré.</p>

    <h4 class="terracota uk-text-bold">Como vai acontecer</h4>
    <p>10 horas semanais de dedicação: 02 encontros virtuais na semana (4h) e pesquisa/ produção das memórias (6h)</p>


    <h4 class="terracota uk-text-bold">Necessidades</h4>
    <ul>
      <li>Ter acesso a um celular ou computador para participar dos encontros e se comunicar com as pessoas por whatsapp. </li>
      <li>Ter compromisso para participar de todos os encontros. </li>
      <li>Realizar as tarefas individuais e coletivas. </li>
    </ul>

    <h4 class="terracota uk-text-bold">O  lab oferece</h4>

    <p>2 bolsas de 800 reais. No total 1600 nos dois meses e meio de laboratório. </p>

    <h4 class="terracota uk-text-bold">Período de inscrição:</h4>

    <p>8/09 - 20/09</p>

    <h4 class="terracota uk-text-bold">Como pode ser feita a inscrição:</h4>

    <p>A inscrição deve ser feita pelo <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx3sFF1aT9uz45FqBPWnCNFjRp0fvo-hNjzhe8mBz-ItPzUw/viewform?usp=sf_link">link</a></p>

    <p> Ou pelo Whatsapp: 21 995905064 </p>

    <p>Qualquer dúvida mande um zap pra gente! </p>

    <br>

    <div class="uk-text-center">
      <h3 class="terracota uk-text-bold">Queremos saber qual é a sua memória ambiental!</h3> <br>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx3sFF1aT9uz45FqBPWnCNFjRp0fvo-hNjzhe8mBz-ItPzUw/viewform?usp=sf_link" target="_blank" class="uk-button uk-button-secondary"> Inscríbete acá </a>
    </div>

  </div>

</section>

<%= render 'shared/why' %>
