@font-face {
  font-family: "Tt2020";
  src: url(asset-path('Tt2020.ttf')) format("truetype");
}

// Place all the styles related to the Memoir controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Basic colors
$green: #243121;
$green-light: #4B6545;
$green-dark: #243121;
$terracota: #9D230D;
$areia: #DBC9B8;

$black-light: #272727;
$green-light2: #73E1A0;

// Background colors
$bg-green-light: #E5F9EE;
$bg-white: #ffffff;

$bg-green: #4B6545;
$bg-gray-light: #DCDCDC;
$bg-green-gradient: linear-gradient(270deg, #9D230D 0%, #9D230D 100%);
$bg-green-light-gradient: linear-gradient(270deg, #9D230D 0%, #9D230D 100%);

// Colors classes
.green {
  color: $green !important;
}
.green-dark{
  color: $green-dark !important;
}
.areia {
  color: areia !important;
}
.terracota {
  color: $terracota !important;
}
.white {
  color: white !important;
}
.black {
  color: black !important;
}

// Background color classes
.bg-green {
  background-color: $bg-green !important;
}
.bg-green-light {
  background-color: $bg-green-light !important;
}
.bg-areia{
  background-color: $areia !important;
}
.bg-terracota{
  background-color: $terracota;
  color: $areia;
}
.bg-white {
  background-color: $bg-white !important;
}
.bg-green-gradient{
  background: $bg-green-gradient;
}
.bg-gray-light{
  background: $bg-gray-light;
}


.white{
  color: white;
}

.home-bg-image {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 500px;
  padding-top: 170px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  background-image: asset_url('home/home.png');
  background-size: cover;
}

.memoirs-show{

}

#join-welcome{
  background-image: asset_url('home/home3.png');
}

// Basics
body{
	letter-spacing: 0;
	font-size: 0.9rem;
	line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
	color: $black-light;
  overflow-x: hidden !important;
}

p {
  color: $black-light;
}


a{
  color: $terracota;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  &:hover{
    color: lighten($terracota, 10%);
    text-decoration: none;
  }
  &:focus{
    color: lighten($terracota, 10%);
    text-decoration: none;
  }
  &:active{
    color: lighten($terracota, 10%);
    text-decoration: none;
  }
}

.weight-light{
	font-weight: 300;
}
.weight-regular{
	font-weight: 400;
}
.weight-bold{
	font-weight: 700;
}

.font-muli{
  font-family: 'Muli', sans-serif !important;
}

.font-work{
  font-family: 'Montserrat', sans-serif !important;
}

.small-text{
  font-size: 0.7rem;
}

mark {
  background: white;
  color: black;
}

.cool-list{
  margin-left: 40px;
  &::before{
    content: ">";
    color: $green;
    position: relative;
    left: -30px;
    margin-left: -7px;
  }
}


// Uk elements
.uk-text-lead {
  color: $green;
}



.card-article{
  padding: 30px;
  min-height: 270px;
}

.uk-card-body>h5 {
  margin: -10px 0 -10px 0;
}

.uk-divider-small{
  background-color: black;
}

.uk-icon>* {
  color: $green;
}

.uk-icon-white>* {
  color: white !important;
}

.uk-label {
  background: $green;
  line-height: 2;
  font-size: .8rem;
  border-radius: 0;
  text-transform: none;
  font-family: 'Muli', sans-serif;
}

.uk-overlay-default {
  background: $bg-green-light-gradient;
}

.uk-position-small {
  margin: 0;
}

.uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif !important;
}

.uk-h1, h1{
  font-family: "Tt2020" !important;
}

.uk-h2, h2{
  font-weight: bold;
}


#main-memoirs{
  // margin: -150px 0 80px
}

h1, uk-h1 {
	font-size: 3.2rem;
  color: white;
  font-weight: bold;
}

h2, uk-h2 {
  color: $black-light;
  font-weight: bold;
}

h3, uk-h3 {
  color: $black-light;
	font-size: 1.6rem;
  font-weight: normal;
}

h4, uk-h4 {
  color: $green-dark;
	font-size: 1.1rem;
  font-weight: 400;
}

.h4-highlights{
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.3;
}

.subtitle {
  font-size: 2.6rem;
  color: $black-light;
  font-weight: 300;
  font-family: "Tt2020" !important;
}

h5{
  color: black;
	font-size: 1.2rem;
}

h6{
  color: black;
	font-size: 1rem;
}

// Buttons
.uk-button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
}

.uk-button-default{
  background-color: white !important;
  color: $green-dark;
}
.uk-button-default:hover,
.uk-button-default:focus{
  background-color: $terracota !important;
  color: white !important;
}

.uk-button-primary{
  background-color: $green !important;
  color: white;
}
.uk-button-primary:focus,
.uk-button-primary:hover{
  background-color: $green-light !important;
  color: white;
}
.uk-button-secondary{
  background-color: $terracota !important;
  color: white;
}
.uk-button-secondary:focus,
.uk-button-secondary:hover{
  background-color: lighten($terracota, 10%) !important;
  color: white;
}

// Navbar
.menu-bar{
  background-color: transparent;
  position: relative;
  z-index: 1000;
  margin-bottom: -221px;
  padding-top: 5px !important;
  padding-bottom: 0;
}

.menu-language {
  margin: 13px 0 33px;
}

.menu-language>a {
  color: white;
}

.uk-dropdown {
  min-width: 200px;
  padding: 20px;
  box-shadow: none;
}

.uk-dropdown-nav>li>a {
  font-size: 0.7rem;
  color: black;
  &:hover{
    color: $green;
  }
}

.uk-navbar{
  margin: 20px 0 0;
}

.uk-navbar-nav>li>a{
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1.208;
  &:hover{
    color: $terracota;
  }
  &:focus{
    color: $terracota;
  }
}

.uk-navbar-nav>li.uk-active>a {
  color: $terracota;
}

.uk-navbar-right {
  position: relative;
  top: -14px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
  min-height: 50px;
}

// Sections
.alert{
  line-height: 4;
}

#notice-alert{
    height: 60px;
    color: white;
}



.uk-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

#intro-home{
  margin: -110px 0 -260px;
}

#problem-home{
  padding-top: 250px;
}

.problem-home-bg{
  background-image: asset_url('home-call-bg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
}

#image-problem{
  background-image: asset_url('problem-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


#home-memoirs {
  padding: 0px;

  .uk-grid-column-small > *, .uk-grid-small > * {
      padding-left: 0px;
  }

  * + .uk-grid-margin-small, .uk-grid + .uk-grid-row-small, .uk-grid + .uk-grid-small, .uk-grid-row-small > .uk-grid-margin, .uk-grid-small > .uk-grid-margin {
      margin-top: 0px;
  }

  .uk-container {
    padding: 60px;
  }
}



#link-home-memoirs{
  min-height: 240px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#pilots-home{
  min-height: 240px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#join-home{
  background-image: asset_url('home-join-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.parallax-memoir-show{
  background-image: asset_url('bg/arbol.jpg');
  height: 350px;
}

.parallax-join{
  background-image: asset_url('bg/arbol.jpg');
}

.parallax-us{
  background-image: asset_url('home/team.png');
  height: 350px;
}

.bg-illustration{
  background-image: asset_url('bg/bg1.png');
}

#welcome-page {
 padding: 160px 0 0;
 &.uk-height-viewport{
   min-height: 55vh;
 }
}

// Images
.logo-alliance{
  min-height: 90px;
}

.img-home-desk {
  margin: -350px 0 0;
}

.img-alliance-board {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.articles-card{
  -webkit-filter: saturate(0) contrast(95%) brightness(236%); /* Safari 6.0 - 9.0 */
 filter: saturate(0) contrast(95%) brightness(236%);
}

// Mobile
@media only screen and (max-width: 991px) {
  h1 {
  	font-size: 2.2rem;
  }

  h2{
  	font-size: 1.8rem;
  }

  h3 {
  	font-size: 1.4rem;
  }

  h4 {
  	font-size: 1rem;
  }

  h5{
  	font-size: 1rem;
  }

  h6{
  	font-size: 1rem;
  }

  .uk-text-lead {
    font-size: 1.1rem;
  }

  .menu-bar{
    margin-bottom: -145px;
  }

  .uk-navbar-toggle {
    color: white;
    &:hover{
      color: $green;
    }
    &:focus{
      color: $green;
    }
  }

  .uk-offcanvas-bar {
    font-size: 0.8rem;
    padding: 20px 20px;
    background: white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .uk-offcanvas-bar>ul>li>a {
    color: black;
    &:hover{
      color: $green;
    }
  }

  .uk-section {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .problem-home-bg{
    background: none;
  }

  #pilots-home{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .card-article{
    padding: 30px;
    min-height: auto;
  }
}

// Map

.marker {
  background-image: asset_url('marker.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.img-memoir{
  .uk-height-viewport{
    min-height: 90vh;
  }
}

#memoirs-list{

}

.column-map {
  padding-top: 0;
  padding-bottom: 0;
}

#memoir-map{
  .uk-grid-column-small > *, .uk-grid-small > * {
    padding-left: 0;
  }
}

.memoir-map-description-column{
  padding: 40px;
  min-height: 330px;
}

.quote-panel{
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.quote-ul{
  padding: 50px;
}
.quote-sentence-column{
  padding: 30px;
}

.quote-img{
  padding: 0px;
}

.uk-panel-quotes{
  padding-top: 80px;
  padding-bottom: 80px;
}

.who-quote-padding{
  padding: 50px;
}

.padding-20{
  padding-bottom: 30px;
  padding-right: 30px;
}

.max-height-50{
  max-height: 50px;
}

.paddign-horizontal-left{
  padding-left: 30px;
}

.video-doc{
  width: 900px !important;
}

#home-highlights{
  background-image: asset_url('bg/bg2.png');
}

.opacity-img{
  position: relative;
  filter: brightness(50%);
  width: 100%;
  // width: 400px;
  // height: 400px;
}

.presentation{
  max-width: 800px;
  width: 100%;
  height: 500px;
}
