<%= simple_form_for memoir, html: { class: 'uk-form-horizontal uk-margin-large'} do |f| %>

  <% if memoir.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memoir.errors.count, "error") %> prohibited this actor category from being saved:</h2>
      <ul>
        <% memoir.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.association :user, as: :hidden, class: 'uk-input', input_html: {name: 'memoir[user_id]', value: current_user.id } %>

  <div class="uk-margin">
    <%= f.label :title, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :title, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :summary, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :summary, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :area, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.simple_fields_for :area do |area| %>
        <%= area.text_field :name, class: 'uk-input' %>
      <% end %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :image, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <% if @memoir.image.attached? %>
        <label class="uk-button uk-button-default ">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :image, as: :file %>
          </span>
        </label>
        <br>
        Icono actual: <img src="<%= url_for(@memoir.image) %>" width="40" height="40" uk-svg>
      <% else %>
        <label class="uk-button uk-button-primary">
          Subir desde tu computador
          <span style="display:none;">
            <%= f.input_field :image, as: :file %>
          </span>
        </label>
      <% end %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :description, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :description, class: 'uk-input' %>
    </div>
  </div>


  <div class="uk-margin">
    <%= f.label :post, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.rich_text_area :post, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :vimeo_link, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :vimeo_link, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <%= f.label :youtube_link, class: 'uk-form-label uk-margin-remove' %>
    <div class="uk-form-controls">
      <%= f.input_field :youtube_link, class: 'uk-input' %>
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-controls">
      <%= f.button :submit, class: 'uk-button button-color-purple' %>
    </div>
  </div>

<% end %>


<%#
t.string "title"
t.text "description"
t.text "summary"
t.datetime "created_at", precision: 6, null: false
t.datetime "updated_at", precision: 6, null: false
t.bigint "area_id"
t.text "report"
t.string "vimeo_link"
t.string "youtube_link" %>
