<div class="uk-inline uk-visible@s">
  <img class="opacity-img" src="<%= asset_path('home/ma_3.jpg') %>" >
  <div class="uk-position-medium uk-position-bottom uk-overlay uk-light">
    <div class="uk-container animated fadeInUp">
      <h2> <%= t('memoirs.title') %>  </h2>
      <h4 class="uk-margin-remove"><%= t('memoirs.description') %> </h4>
    </div>
  </div>
</div>

<div id="list-memoirs" class="uk-container uk-padding-large">
  <div uk-grid="masonry: true">
    <% @memoirs.each_with_index do |memoir, index| %>
      <div class="uk-width-1-3@m">
        <%= link_to memoir_path(memoir) , :class => '' do  %>
          <div class="uk-card uk-card-default">
            <% if memoir.image.attached? %>
              <img src="<%= url_for(memoir.image) %>" alt="">
            <% end %>
            <div class="uk-card-body uk-padding-small">
              <p class="uk-card-title uk-text-lead"><%= memoir.title %></p>
              <p> <span class="uk-margin-small-right" uk-icon="location"></span>
                <%= memoir.area.name %>
              </p>
              <p class="uk-text-muted"> <%= memoir.summary %> </p>
              <%= link_to 'Conocer memoria', memoir_path(memoir) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



<%= render 'shared/why' %>
