
<div id="uk-hidden@s">
  <% if @memoir.image.attached? %>
    <img class="opacity-img" data-src="<%= url_for(@memoir.image) %>" uk-img>
  <% else %>
    <img class="opacity-img" data-src="<%= asset_path('home/memoria_home.jpg') %>" uk-img>
  <% end %>
  <div class="uk-position-center">
    <div class="uk-container uk-container-small uk-text-center ">
      <div class="uk-light">
        <h1 class="animated fadeInUp" style="margin-bottom:-20px;"><%= @memoir.title %></h1>
        <h5 class="uk-text-lead animated fadeInUp white"> <span class="uk-margin-small-right white" uk-icon="location"></span> <%= @memoir.area.name %> </h5>
        <h5> <%= @memoir.summary %> </h5>
      </div>
    </div>
  </div>
</div>

<% if @memoir.presentation %>
  <div class="uk-section uk-flex-center">
    <div class="uk-cover-container uk-text-center">
      <iframe class="presentation" src="<%= @memoir.presentation %>" allowfullscreen></iframe>
    </div>
  </div>
<% end %>

<% if @memoir.vimeo_link %>
  <div class="uk-section uk-flex-center">
    <div class="uk-cover-container uk-text-center">
      <!-- <h2 class="subtitle uk-text-center"> <%= t('memoir.video') %> </h2> -->
      <iframe src="<%= @memoir.vimeo_link%>" width="800" height="500" frameborder="0" allow="autoplay; fullscreen" uk-video="automute: true" allowfullscreen></iframe>
    </div>
  </div>
<% end %>



<% if @memoir.report %>
  <div id="memoirs-home" class="uk-section bg-areia">
    <div class="uk-container uk-container-small">
      <div class="uk-column-1-2@m uk-column-divider">
        <%= markdown @memoir.report %>
      </div>
    </div>
  </div>
<% end %>


<% if @memoir.post %>
  <div id="memoirs-home" class="uk-section">
    <div class="uk-container uk-container-small">
      <%= @memoir.post %>
    </div>
  </div>
<% end %>


<% if !@memoir.audios.empty? %>
  <div id="memoir-audios" class="bg-areia">
    <div class="uk-section uk-flex-center">
      <h2 class="subtitle uk-text-center"> Audios </h2>
      <div class="uk-container uk-container-small">
          <% @memoir.audios.each_with_index do |audio, index| %>
            <section id="audio-<%= index %>">
              <h4 class="uk-padding-remove uk-margin-remove"> <%= audio.title %> </h4>
              <p class="uk-padding-remove "> <%= audio.description %></p>
              <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="<%=audio.url %>"></iframe>
            </section>
          <% end %>
      </div>
    </div>
  </div>
<% end %>


<% if !@memoir.quotes.empty? %>
  <div class="uk-container uk-container-small">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
      <ul class="uk-slider-items uk-grid ul-quotes">
        <% @memoir.quotes.each do |quote| %>
          <li class="uk-width-4-4">
            <div class="uk-panel uk-panel-quotes">
              <div class="uk-container uk-container-small">
                <div class="uk-grid-match uk-grid-small uk-container-small" uk-grid>
                  <div class="uk-width-2-5@m max-height-50">
                    <img src="<%= url_for(quote.avatar) %>" class="uk-border-circle who-quote-padding">
                  </div>
                  <div class="uk-width-3-5@m quote-sentence-column">
                    <blockquote cite="#" class="uk-column-span">
                      <span uk-icon="icon: quote-right" class="green-dark"></span> <p><%= quote.content %></p>
                      <footer class="green-dark"><cite><%= quote.who %></cite></footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
  </div>
<% end %>


<% if !@memoir.resources.empty? %>
  <div id="memoir-resources" class="bg-areia">
    <div class="uk-section uk-flex-center">
      <h2 class="subtitle uk-text-center"> <%= t('memoir.resources') %> </h2>
      <div class="uk-container uk-container-small">
        <div class="uk-grid-match uk-grid-small uk-container-small" uk-grid>
          <% @memoir.resources.each do |res| %>
            <div class="uk-width-1-2@m">
              <div class="padding-20">
                <h4> <%= res.title %> </h4>

                <p> <%= res.description %></p>
                <a href="<%= res.link %>" class="uk-button uk-button-secondary" target="_blank"> <%= t('memoir.see_resource') %> </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGFxdWlyb3pmY2kiLCJhIjoiY2p2ODJ6eTBsMG1kejN5b2p3cjQ5amlocyJ9.Vax2BkFD0rhM8LjTdecD9w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/daquirozfci/cjv830nyz1bah1gmpg5iwpkdh',
    zoom: 11.00,
    center: [-85.4024586, 10.0119008],
  });

  var geojson = {
    type: 'FeatureCollection',
    features: [{
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [-85.4024586, 10.0119008]
      },
      properties: {
        title: 'Hojancha',
        description: 'Washington, D.C.'
      }
    }]
  };

  // add markers to map
  geojson.features.forEach(function(marker) {

    // create a HTML element for each feature
    var el = document.createElement('div');
    el.className = 'marker';

    // make a marker for each feature and add to the map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
      .addTo(map);
  });

</script>
